In [1]:
import pandas as pd
import requests
import os
from bs4 import BeautifulSoup
from time import sleep
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import warnings
import folium

# 경고 메시지 생략(무시)
warnings.filterwarnings('ignore')

# 그래프에서 한글처리 문제 해결
font_path = 'malgun.ttf'
font_name = font_manager.FontProperties(fname = font_path).get_name()
rc('font', family = font_name)

# 그래프에서 음수(minus) 기호 문제 해결
plt.rcParams['axes.unicode_minus'] = False

네이버금융 크롤링<br>
finance.naver.com<br>
일별<br>
새탭열기로 하면 별도 창으로..<br>

In [3]:
#url = 'https://finance.naver.com/item/sise_day.naver?code=005930&page=1'
#페이지 번호, 005930은 코드번호라 이거만 바꾸면 다른 거 검색 가능
#이를 코드로 대체

In [11]:
code= '005930'
page = 1
url = f'https://finance.naver.com/item/sise_day.naver?code={code}&page={page}'
requests.get(url) 
#근데 잘못된 페이지에 대해서도 200을 돌려준다.
# 그럼 잘못된 페이지인지 아닌지 보려면 저장해보면 된다.

response = requests.get(url)
response.headers

{'date': 'Sat, 23 Mar 2024 01:13:25 GMT', 'set-cookie': 'JSESSIONID=94723D4F568213015327AE161D1D6A01; Path=/; HttpOnly', 'vary': 'Accept-Encoding,User-Agent', 'content-encoding': 'gzip', 'referrer-policy': 'unsafe-url', 'transfer-encoding': 'chunked', 'content-type': 'text/html;charset=EUC-KR', 'x-xss-protection': '1; mode=block', 'strict-transport-security': 'max-age=31536000; includeSubDomains', 'server': 'nfront'}

In [12]:
# 위 헤더를 보면 웹문서인걸 확인할 수 있음. text/html = euckr

In [13]:
text = response.text

file = open('test1.html','w')
file.write(text)
file.close()

#이 파일을 확인해보면 "페이지를 찾을 수 없습니다."페이지임. 그래서 확인을 하고 다음과정을 진행해야 함.
#이건 웹인지 파이썬인지를 점검해서 통과못했기 때문임..

In [16]:
response = requests.get(url,headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0 x64)'})
print(response.status_code)
print(response.headers['content-type'])
response.headers
text = response.text

file = open('test.html','w')
file.write(text)
file.close()
#저장된 test.html을 보면 정상적으로 잘 저장되었음을 확인할 수 있다.

200
text/html;charset=EUC-KR

In [20]:
html = BeautifulSoup(text, 'html.parser')
html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버페이 증권</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.22</span></td>
<td class="num"><span class="tah p11">78,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">79,600</span></td>
<td class="num"><span class="tah p11">79,900</span></td>
<td class="num"><span class="tah p11">77,800</span></td>
<td class="num"><span class="tah p11">26,614,741</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.21</span></td>
<td class="num"><span class="tah p11">79,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,400
				</span>
</td>
<td class="num"><span class="tah p11">79,200</span></td>
<td class="num"><span class="tah p11">79,300</span></td>
<td class="num"><span class="tah p11">77,700</span></td>
<td class="num"><span class="tah p11">44,569,799</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.20</span></td>
<td class="num"><span class="tah p11">76,900</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				4,100
				</span>
</td>
<td class="num"><span class="tah p11">73,700</span></td>
<td class="num"><span class="tah p11">77,200</span></td>
<td class="num"><span class="tah p11">73,400</span></td>
<td class="num"><span class="tah p11">50,106,297</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.19</span></td>
<td class="num"><span class="tah p11">72,800</span></td>
<td class="num">
<span class="tah p11">0</span>
</td>
<td class="num"><span class="tah p11">72,300</span></td>
<td class="num"><span class="tah p11">73,000</span></td>
<td class="num"><span class="tah p11">71,700</span></td>
<td class="num"><span class="tah p11">15,376,066</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.18</span></td>
<td class="num"><span class="tah p11">72,800</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				500
				</span>
</td>
<td class="num"><span class="tah p11">72,600</span></td>
<td class="num"><span class="tah p11">73,000</span></td>
<td class="num"><span class="tah p11">72,500</span></td>
<td class="num"><span class="tah p11">11,520,348</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.15</span></td>
<td class="num"><span class="tah p11">72,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,000
				</span>
</td>
<td class="num"><span class="tah p11">73,400</span></td>
<td class="num"><span class="tah p11">73,700</span></td>
<td class="num"><span class="tah p11">72,300</span></td>
<td class="num"><span class="tah p11">22,580,555</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.14</span></td>
<td class="num"><span class="tah p11">74,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">74,400</span></td>
<td class="num"><span class="tah p11">74,500</span></td>
<td class="num"><span class="tah p11">73,600</span></td>
<td class="num"><span class="tah p11">22,545,539</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.13</span></td>
<td class="num"><span class="tah p11">74,100</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				800
				</span>
</td>
<td class="num"><span class="tah p11">73,700</span></td>
<td class="num"><span class="tah p11">74,100</span></td>
<td class="num"><span class="tah p11">73,500</span></td>
<td class="num"><span class="tah p11">15,243,134</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.12</span></td>
<td class="num"><span class="tah p11">73,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				900
				</span>
</td>
<td class="num"><span class="tah p11">72,600</span></td>
<td class="num"><span class="tah p11">73,500</span></td>
<td class="num"><span class="tah p11">72,100</span></td>
<td class="num"><span class="tah p11">13,011,654</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.03.11</span></td>
<td class="num"><span class="tah p11">72,400</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				900
				</span>
</td>
<td class="num"><span class="tah p11">72,900</span></td>
<td class="num"><span class="tah p11">73,100</span></td>
<td class="num"><span class="tah p11">72,300</span></td>
<td class="num"><span class="tah p11">9,740,504</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.naver?code=005930&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.naver?code=005930&amp;page=696">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20240313183844/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body>
</html>

In [22]:
tr_list = html.find_all('tr')
len(tr_list) # 이걸 10이 되도록..해야 함.

17

In [23]:
tr_list

[<tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.22</span></td>
 <td class="num"><span class="tah p11">78,900</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				400
 				</span>
 </td>
 <td class="num"><span class="tah p11">79,600</span></td>
 <td class="num"><span class="tah p11">79,900</span></td>
 <td class="num"><span class="tah p11">77,800</span></td>
 <td class="num"><span class="tah p11">26,614,741</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.21</span></td>
 <td class="num"><span class="tah p11">79,300</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,400
 				</span>
 </td>
 <td class="num"><span class="tah p11">79,200</span></td>
 <td class="num"><span class="tah p11">79,300</span></td>
 <td class="num"><span class="tah p11">77,700</span></td>
 <td class="num"><span class="tah p11">44,569,799</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.20</span></td>
 <td class="num"><span class="tah p11">76,900</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				4,100
 				</span>
 </td>
 <td class="num"><span class="tah p11">73,700</span></td>
 <td class="num"><span class="tah p11">77,200</span></td>
 <td class="num"><span class="tah p11">73,400</span></td>
 <td class="num"><span class="tah p11">50,106,297</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.19</span></td>
 <td class="num"><span class="tah p11">72,800</span></td>
 <td class="num">
 <span class="tah p11">0</span>
 </td>
 <td class="num"><span class="tah p11">72,300</span></td>
 <td class="num"><span class="tah p11">73,000</span></td>
 <td class="num"><span class="tah p11">71,700</span></td>
 <td class="num"><span class="tah p11">15,376,066</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.18</span></td>
 <td class="num"><span class="tah p11">72,800</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				500
 				</span>
 </td>
 <td class="num"><span class="tah p11">72,600</span></td>
 <td class="num"><span class="tah p11">73,000</span></td>
 <td class="num"><span class="tah p11">72,500</span></td>
 <td class="num"><span class="tah p11">11,520,348</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.15</span></td>
 <td class="num"><span class="tah p11">72,300</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">73,400</span></td>
 <td class="num"><span class="tah p11">73,700</span></td>
 <td class="num"><span class="tah p11">72,300</span></td>
 <td class="num"><span class="tah p11">22,580,555</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.14</span></td>
 <td class="num"><span class="tah p11">74,300</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				200
 				</span>
 </td>
 <td class="num"><span class="tah p11">74,400</span></td>
 <td class="num"><span class="tah p11">74,500</span></td>
 <td class="num"><span class="tah p11">73,600</span></td>
 <td class="num"><span class="tah p11">22,545,539</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.13</span></td>
 <td class="num"><span class="tah p11">74,100</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				800
 				</span>
 </td>
 <td class="num"><span class="tah p11">73,700</span></td>
 <td class="num"><span class="tah p11">74,100</span></td>
 <td class="num"><span class="tah p11">73,500</span></td>
 <td class="num"><span class="tah p11">15,243,134</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.12</span></td>
 <td class="num"><span class="tah p11">73,300</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				900
 				</span>
 </td>
 <td class="num"><span class="tah p11">72,600</span></td>
 <td class="num"><span class="tah p11">73,500</span></td>
 <td class="num"><span class="tah p11">72,100</span></td>
 <td class="num"><span class="tah p11">13,011,654</span></td>
 </tr>,
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2024.03.11</span></td>
 <td class="num"><span class="tah p11">72,400</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				900
 				</span>
 </td>
 <td class="num"><span class="tah p11">72,900</span></td>
 <td class="num"><span class="tah p11">73,100</span></td>
 <td class="num"><span class="tah p11">72,300</span></td>
 <td class="num"><span class="tah p11">9,740,504</span></td>
 </tr>,
 <tr>
 <td colspan="7" height="8"></td>
 </tr>,
 <tr>
 <td class="on">
 <a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
 </td>
 <td class="pgR">
 <a href="/item/sise_day.naver?code=005930&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>
 </td>
 <td class="pgRR">
 <a href="/item/sise_day.naver?code=005930&amp;page=696">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
 </td>
 </tr>]

In [26]:
html.find('tr').find_all({onmouseover:mouseOver(this)})

NameError: name 'onmouseover' is not defined

In [33]:
tr_list = html.find_all('tr',{'onmouseover':'mouseOver(this)'})

In [34]:
len(tr_list)

10

In [35]:
for tr in tr_list:
    pass

In [36]:
tr = tr_list[0]
len(tr.find_all('td')) #7개가 맞는지 확인

7

In [49]:
A = [1,2,'a',4,5,6,7] 
#이걸
# B = [3,6,12,15,18,21] 로 바꾸고 싶을때,
B=[]
del A[2]
for a1 in A:
    B.append(a1*3)
B

[3, 6, 12, 15, 18, 21]

In [51]:
#A = ['x',1,2,'a',4,5,6,7] 
#B = ['x',3,6,12,15,18,21]  로 하고 싶다면?

A = ['x',1,2,4,5,6,7] 
B = [A[0]]
for a1 in A[1:]:
    B.append(a1*3)
B

['x', 3, 6, 12, 15, 18, 21]

In [53]:
tr = tr_list[0]
td_list = tr.find_all('td')

for td in td_list:
    print(td)

<td align="center"><span class="tah p10 gray03">2024.03.22</span></td>
<td class="num"><span class="tah p11">78,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				400
				</span>
</td>
<td class="num"><span class="tah p11">79,600</span></td>
<td class="num"><span class="tah p11">79,900</span></td>
<td class="num"><span class="tah p11">77,800</span></td>
<td class="num"><span class="tah p11">26,614,741</span></td>

In [54]:
tr = tr_list[0]
td_list = tr.find_all('td')

for td in td_list:
    print(td.find('span').text)

2024.03.22
78,900

				400

79,600
79,900
77,800
26,614,741

In [56]:
tr = tr_list[0]
td_list = tr.find_all('td')

for td in td_list:
    print([td.find('span').text])

['2024.03.22']
['78,900']
['\n\t\t\t\t400\n\t\t\t\t']
['79,600']
['79,900']
['77,800']
['26,614,741']

In [92]:
tr = tr_list[0]
td_list = tr.find_all('td')
del td_list[2]

row = []
for td in td_list:
    row.append(td.find('span').text)
row

['2024.03.22', '78,900', '79,600', '79,900', '77,800', '26,614,741']

['2024.03.22', '78,900', '79,600', '79,900', '77,800', '26,614,741']<br>
이걸 아래와 같이 바꾸려면?<br>
['2024.03.22', 78900, 79600, 79900, 77800, 26614741]<br>

In [93]:
type(row[1])

str

In [95]:
row[1].replace(',','')

'78900'

In [99]:
a = '78,888'
print(type(a))
a = a.replace(',','')
a

<class 'str'>

'78888'

In [81]:
tr = tr_list[0]
td_list = tr.find_all('td')
del td_list[2]

row = [td_list[0].text]
for td in td_list:
    row.append(int(td.find('span').text.replace(',','')))
row

ValueError: invalid literal for int() with base 10: '2024.03.22'

In [102]:
tr = tr_list[0]
td_list = tr.find_all('td')
del td_list[2]

date = td_list[0].text.replace('.','-')
row = [date]
for td in td_list[1:]:
    value = td.find('span').text.replace(',','')
    row.append(int(value))
row

['2024-03-22', 78900, 79600, 79900, 77800, 26614741]

In [108]:
#위에꺼 함수화
#강사는 아래 내용을 저 위로 옮김
def extract_1day(tr):
    
    td_list = tr.find_all('td')
    del td_list[2]

    date = td_list[0].text.replace('.','-')
    row = [date]
    for td in td_list[1:]:
        value = td.find('span').text.replace(',','')
        row.append(int(value))
    return row

In [109]:
text = response.text

html = BeautifulSoup(text, 'html.parser')
tr_list = html.find_all('tr',{'onmouseover':'mouseOver(this)'})

rows = []
for tr in tr_list:
    row = extract_1day(tr)
    rows.append(row)
    
stock = pd.DataFrame(rows)
stock

            0      1      2      3      4         5
0  2024-03-22  78900  79600  79900  77800  26614741
1  2024-03-21  79300  79200  79300  77700  44569799
2  2024-03-20  76900  73700  77200  73400  50106297
3  2024-03-19  72800  72300  73000  71700  15376066
4  2024-03-18  72800  72600  73000  72500  11520348
5  2024-03-15  72300  73400  73700  72300  22580555
6  2024-03-14  74300  74400  74500  73600  22545539
7  2024-03-13  74100  73700  74100  73500  15243134
8  2024-03-12  73300  72600  73500  72100  13011654
9  2024-03-11  72400  72900  73100  72300   9740504

In [129]:
stock = pd.DataFrame(rows, columns= ['date','close','open','max','min','volumn'])
stock = stock.set_index('date')
stock = stock.sort_index(ascending = True)
stock.to_csv('csv/삼성전자_주식.csv')
stock

            close   open    max    min    volumn
date
2024-03-11  72400  72900  73100  72300   9740504
2024-03-12  73300  72600  73500  72100  13011654
2024-03-13  74100  73700  74100  73500  15243134
2024-03-14  74300  74400  74500  73600  22545539
2024-03-15  72300  73400  73700  72300  22580555
2024-03-18  72800  72600  73000  72500  11520348
2024-03-19  72800  72300  73000  71700  15376066
2024-03-20  76900  73700  77200  73400  50106297
2024-03-21  79300  79200  79300  77700  44569799
2024-03-22  78900  79600  79900  77800  26614741

In [137]:
stock = pd.DataFrame(rows, columns= ['날짜','종가','open','max','min','volumn'])
stock = stock.set_index('날짜')
stock = stock.sort_index(ascending = True)
stock.to_csv('csv/삼성전자_주식2.csv',encoding = 'utf-8-sig')
stock

               종가   open    max    min    volumn
날짜
2024-03-11  72400  72900  73100  72300   9740504
2024-03-12  73300  72600  73500  72100  13011654
2024-03-13  74100  73700  74100  73500  15243134
2024-03-14  74300  74400  74500  73600  22545539
2024-03-15  72300  73400  73700  72300  22580555
2024-03-18  72800  72600  73000  72500  11520348
2024-03-19  72800  72300  73000  71700  15376066
2024-03-20  76900  73700  77200  73400  50106297
2024-03-21  79300  79200  79300  77700  44569799
2024-03-22  78900  79600  79900  77800  26614741

In [138]:
#page를 1~5 까지 50일치

code= '005930'
page = 1
url = f'https://finance.naver.com/item/sise_day.naver?code={code}&page={page}'

response = requests.get(url,headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0 x64)'})
text = response.text

html = BeautifulSoup(text, 'html.parser')
html

tr_list = html.find_all('tr',{'onmouseover':'mouseOver(this)'})

rows = []
for tr in tr_list:
    row = extract_1day(tr)
    rows.append(row)
rows

[['2024-03-22', 78900, 79600, 79900, 77800, 26614741],
 ['2024-03-21', 79300, 79200, 79300, 77700, 44569799],
 ['2024-03-20', 76900, 73700, 77200, 73400, 50106297],
 ['2024-03-19', 72800, 72300, 73000, 71700, 15376066],
 ['2024-03-18', 72800, 72600, 73000, 72500, 11520348],
 ['2024-03-15', 72300, 73400, 73700, 72300, 22580555],
 ['2024-03-14', 74300, 74400, 74500, 73600, 22545539],
 ['2024-03-13', 74100, 73700, 74100, 73500, 15243134],
 ['2024-03-12', 73300, 72600, 73500, 72100, 13011654],
 ['2024-03-11', 72400, 72900, 73100, 72300, 9740504]]

In [140]:
code= '005930'

#page = 1
rows = []
for page in range(1,6):
    url = f'https://finance.naver.com/item/sise_day.naver?code={code}&page={page}'

    response = requests.get(url,headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0 x64)'})
    text = response.text

    html = BeautifulSoup(text, 'html.parser')

    tr_list = html.find_all('tr',{'onmouseover':'mouseOver(this)'})

    for tr in tr_list:
        row = extract_1day(tr)
        rows.append(row)
    sleep(1)
rows

[['2024-03-22', 78900, 79600, 79900, 77800, 26614741],
 ['2024-03-21', 79300, 79200, 79300, 77700, 44569799],
 ['2024-03-20', 76900, 73700, 77200, 73400, 50106297],
 ['2024-03-19', 72800, 72300, 73000, 71700, 15376066],
 ['2024-03-18', 72800, 72600, 73000, 72500, 11520348],
 ['2024-03-15', 72300, 73400, 73700, 72300, 22580555],
 ['2024-03-14', 74300, 74400, 74500, 73600, 22545539],
 ['2024-03-13', 74100, 73700, 74100, 73500, 15243134],
 ['2024-03-12', 73300, 72600, 73500, 72100, 13011654],
 ['2024-03-11', 72400, 72900, 73100, 72300, 9740504],
 ['2024-03-08', 73300, 72800, 73400, 72600, 19271349],
 ['2024-03-07', 72200, 73100, 73300, 72200, 14516963],
 ['2024-03-06', 72900, 73200, 73500, 72700, 21547905],
 ['2024-03-05', 73700, 74600, 74800, 73700, 19505125],
 ['2024-03-04', 74900, 74300, 75000, 74000, 23210474],
 ['2024-02-29', 73400, 72600, 73400, 72000, 21176403],
 ['2024-02-28', 73200, 72900, 73900, 72800, 11795859],
 ['2024-02-27', 72900, 73100, 73400, 72700, 13201981],
 ['2024-02-26', 72800, 72300, 73200, 72200, 14669352],
 ['2024-02-23', 72900, 73600, 74200, 72900, 16225166],
 ['2024-02-22', 73100, 73800, 73900, 72700, 15208934],
 ['2024-02-21', 73000, 73400, 73700, 72900, 11503495],
 ['2024-02-20', 73300, 73700, 73700, 72800, 14681477],
 ['2024-02-19', 73800, 72800, 73900, 72800, 12726404],
 ['2024-02-16', 72800, 73300, 73400, 72500, 13444781],
 ['2024-02-15', 73000, 74200, 74400, 73000, 14120600],
 ['2024-02-14', 74000, 73700, 74300, 73700, 12434945],
 ['2024-02-13', 75200, 74800, 75200, 74400, 21966745],
 ['2024-02-08', 74100, 75000, 75200, 73600, 20810708],
 ['2024-02-07', 75000, 74600, 75500, 74300, 16566445],
 ['2024-02-06', 74400, 74300, 74700, 73300, 14559254],
 ['2024-02-05', 74300, 74200, 74800, 73500, 19026021],
 ['2024-02-02', 75200, 74000, 75200, 73700, 14955881],
 ['2024-02-01', 73600, 73000, 74200, 72900, 19881033],
 ['2024-01-31', 72700, 73400, 74000, 72500, 15703560],
 ['2024-01-30', 74300, 75000, 75300, 73700, 12244418],
 ['2024-01-29', 74400, 73800, 75200, 73500, 13976521],
 ['2024-01-26', 73400, 73700, 74500, 73300, 11160062],
 ['2024-01-25', 74100, 74200, 74800, 73700, 11737747],
 ['2024-01-24', 74000, 75200, 75200, 73500, 12860661],
 ['2024-01-23', 75200, 75700, 75800, 74300, 14786224],
 ['2024-01-22', 75100, 75900, 76000, 75000, 19673375],
 ['2024-01-19', 74700, 73500, 74700, 73000, 23363427],
 ['2024-01-18', 71700, 71600, 72000, 70700, 17853397],
 ['2024-01-17', 71000, 73100, 73300, 71000, 22683660],
 ['2024-01-16', 72600, 73500, 73700, 72500, 14760415],
 ['2024-01-15', 73900, 73200, 74000, 73200, 13212339],
 ['2024-01-12', 73100, 73000, 74100, 72800, 13038939],
 ['2024-01-11', 73200, 72900, 73600, 72700, 57691266],
 ['2024-01-10', 73600, 75000, 75200, 73200, 20259529]]

In [141]:
stock3 = pd.DataFrame(rows, columns= ['날짜','종가','open','max','min','volumn'])
stock3 = stock3.set_index('날짜')
stock3 = stock3.sort_index(ascending = True)
stock3.to_csv('csv/삼성전자_주식3.csv',encoding = 'utf-8-sig')
stock3

               종가   open    max    min    volumn
날짜
2024-01-10  73600  75000  75200  73200  20259529
2024-01-11  73200  72900  73600  72700  57691266
2024-01-12  73100  73000  74100  72800  13038939
2024-01-15  73900  73200  74000  73200  13212339
2024-01-16  72600  73500  73700  72500  14760415
2024-01-17  71000  73100  73300  71000  22683660
2024-01-18  71700  71600  72000  70700  17853397
2024-01-19  74700  73500  74700  73000  23363427
2024-01-22  75100  75900  76000  75000  19673375
2024-01-23  75200  75700  75800  74300  14786224
2024-01-24  74000  75200  75200  73500  12860661
2024-01-25  74100  74200  74800  73700  11737747
2024-01-26  73400  73700  74500  73300  11160062
2024-01-29  74400  73800  75200  73500  13976521
2024-01-30  74300  75000  75300  73700  12244418
2024-01-31  72700  73400  74000  72500  15703560
2024-02-01  73600  73000  74200  72900  19881033
2024-02-02  75200  74000  75200  73700  14955881
2024-02-05  74300  74200  74800  73500  19026021
2024-02-06  74400  74300  74700  73300  14559254
2024-02-07  75000  74600  75500  74300  16566445
2024-02-08  74100  75000  75200  73600  20810708
2024-02-13  75200  74800  75200  74400  21966745
2024-02-14  74000  73700  74300  73700  12434945
2024-02-15  73000  74200  74400  73000  14120600
2024-02-16  72800  73300  73400  72500  13444781
2024-02-19  73800  72800  73900  72800  12726404
2024-02-20  73300  73700  73700  72800  14681477
2024-02-21  73000  73400  73700  72900  11503495
2024-02-22  73100  73800  73900  72700  15208934
2024-02-23  72900  73600  74200  72900  16225166
2024-02-26  72800  72300  73200  72200  14669352
2024-02-27  72900  73100  73400  72700  13201981
2024-02-28  73200  72900  73900  72800  11795859
2024-02-29  73400  72600  73400  72000  21176403
2024-03-04  74900  74300  75000  74000  23210474
2024-03-05  73700  74600  74800  73700  19505125
2024-03-06  72900  73200  73500  72700  21547905
2024-03-07  72200  73100  73300  72200  14516963
2024-03-08  73300  72800  73400  72600  19271349
2024-03-11  72400  72900  73100  72300   9740504
2024-03-12  73300  72600  73500  72100  13011654
2024-03-13  74100  73700  74100  73500  15243134
2024-03-14  74300  74400  74500  73600  22545539
2024-03-15  72300  73400  73700  72300  22580555
2024-03-18  72800  72600  73000  72500  11520348
2024-03-19  72800  72300  73000  71700  15376066
2024-03-20  76900  73700  77200  73400  50106297
2024-03-21  79300  79200  79300  77700  44569799
2024-03-22  78900  79600  79900  77800  26614741

In [142]:
stock.loc['2024-03-22']

종가           78900
open         79600
max          79900
min          77800
volumn    26614741
Name: 2024-03-22, dtype: int64

In [143]:
stock.loc['2024-03'] # 시계열데이터이기 땜에 안된다.

KeyError: '2024-03'